<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="../static/end.css">
            <title>Phishing Website</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="container">
                <img src="../static/images/menu.png" class="menu">
                <img src="../static/images/qc.png" class="quick">
                <a href="#section1" class="about-btn">About</a> 
            </div>
            </header>

    <div class="content">
        <div class="text">
            <p>Real-Time URL and Website Checking<br>
                To create a more secure digital world through this tool for protecting not only can help you to quickly & easily access.</p>
                <div class="input-group-append">
                <a href="/index.html" class="input-group-text btn">Click Here to Predict</a>
                </div>
            </div>
        </div>
        <div class="img">
            <div class="social-icons">
                <img src="../static/images/social-icon1.png" alt="">
                <img src="../static/images/social-icon2.png" alt="">
                <img src="../static/images/social-icon3.png" alt="">
                <img src="../static/images/social-icon4.png" alt="">
                <img src="../static/images/social-icon5.png" alt="">
            </div>
            <img class="email-icon" src="../static/images/email-icon.png" alt="">
        </div>
    </div>

<div class="wave">
    <img src="../static/images/wave.svg" alt="">
</div>
</div>
<section class="features">
    <div class="container" id="section1">
        <h1>INFO</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="feature-box">
                    <div class="feature-img">
                        <img src="../static/images/a.gif">
                        <img src="../static/images/7zon.gif">
                        <div class="detail">
                            <p>Phishing is an attack that attempts to steal your money, or your identity, by getting you to reveal personal information -- such as credit card numbers, bank information, or passwords -- on websites that pretend to be legitimate.</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                        <div class="col-md-4">
                                    <div class="info">
                                        <p>A measurement for phishing detection is the number of suspicious e-mails reported to the security team. This measurement is designed to evaluate the number of employees who followed the proper procedure for reporting suspicious messages.</p>
                                    </div>

                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
    </section>
    <hr>  
    <section class="FAQ">
        <div class="create">
        <h2>FAQ & Answers</h2>

        <div class="v1">
            <h4>Do you know what is phishing?</h4>
            <p>This is the type of virtual threat has become increasingly common.Its aims to obtain this information through bait.</p>
            </div>
            <br>

            
        <div class="v2">
        <h4>What is QuickCheck?</h4>
        <p>QuickCheck uses advanced machine learning techniques to quickly detect scam websites and determine whether a website is legit or not.</p>
        </div>
        <br>
        <div class="v3">
        <h4>What are the benefits of using QuickCheck?</h4>
        <p>Often, you want to visit a website for various reasons, but you are unsure whether to trust the website.<br>
            You are asking yourself questions such as “is this website legit?” or “is it a scam website?” or “is this a safe website?” or “is this site real?” and so many similar questions.<br>
            QuickCheck is an intelligent scam detector which analyses website link characteristics and allows finding out proactively and swiftly whether by clicking on the link you will land on an unsafe website or a website that is safe. It helps with website credibility check and verifying whether a company is legit.</p>
        </div>
        <br>
        <div class="v4">
        <h4>How to use QuickCheck??</h4>
        <p>Using QuickCheck for fraudulent websites check or to check whether a website is safe is very easy.<br>
            Just enter the link in the search box and click the Search icon.<br>
             QuickCheck will check the website link a0nd quickly displays its results as whether this is a scam website or a safe website.</p>  
        </div>
        <br>
        <div class="v5">
        <h4>How QuickCheck works?</h4>
        <p>URL Checker is a safe link checker which uses advanced machine learning algorithms and natural language processing techniques to analyze website link characteristics and check the credibility of the users owning it.</p>
        </div>
        <br>
        <div class="v6">
        <h4>Features</h4>
        <p>1. Advanced threat protection.<br>
           2. Thread intelligence.<br>
           3. Advanced threat analysis.<br>
           4. Threat mitigation.<br>
           5. Data loss protection.<br>
        </p>
        
        </div>
        </section> 

      
</body>
</html>