<!DOCTYPE html>
<html>
    <head>
        <title> PHISHING DETECTION WEBSITE-QUICKCHECK</title>
        <link rel="stylesheet" href="../static/start.css">
    </head>
    <body>
        
        <div class="hero">
            
               
            <nav>
                <img src="../static/images/menu.png" class="menu-png" id="bird">
                <img src="../static/images/Black, White and Triangle Data Chase Games Logo.png" class="logo-png" >
            
                <ul> 
<li><a href="">HOME</a></li>
<li><a href="">MODE</a></li>
</ul>
<button type="button"  onclick="toggleBtn()" id="btn"><span></span></button>
            </nav>
            <div class="lamp-container">
                <img src="../staticimages/lamp.png" class="lamp">
                <img src="../static/images/light.png" class="light" id="light">
                
            
            </div>
            <div class="hacker">
                <img src="../static/images/hack.jpg" class="hack" id="hack">
            </div>
                    
                


            </nav>
        
        <div class="text-container">
            <h1> Real time URL & Website Sandbox</h1><br><br>
            <p> Free URL scanner and Website checker to detect phishing, scam sites & fradulent sites.<br>
                <br>QUICKCHECK is a free tool to detect malicious URLs including malware, scams and phishing links.<br> 
                <br>Safe links checker scans URLs for malware, viruses,scam and phishing links
            </p>
            <a href="/end.html" class="get-started-btn scrollto">Get Started</a>

            <div class="control">
                <p>04</p>
                <div class="line"><span></span></div>
                <p>05</p>
            </div>
        </div>

        <script>
            var btn=document.getElementById("btn");
            var light=document.getElementById("light");

            function toggleBtn(){
             btn.classList.toggle("active"); 
             light.classList.toggle("on");

            }
        </script>
        <script src=".../static/main.js"></script>
  
    </body>
    
    </html>
    </body>
       

</html>